.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.layout {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 160px;
    margin-bottom: 80px;
    flex: 1;
}
.contents {
    flex: 1;
}